/*************************** Banner Section Styles ****************************/



@mixin banner-top ($media-min, $media-max, $top-min, $top-max) {

	$d: ($top-max - $top-min) / 1%;

	@for $i from 0 through $d {
		$step: ($media-max - $media-min) / ($d + 1);
		$min: $i * $step + $media-min;
		$max: $min + $step;

		@include media('>=' + round($min), '<' + round($max)) {

			$top: $i + $top-min;

//			$top: $top-max - $i;

			top: $top;

//			top: 50%;



//			@include rem(top, $top);

		}
	}
}




/*
@mixin banner-padding-bottom ($media-min, $media-max, $padding-bottom-min, $padding-bottom-max) {

	$d: ($padding-bottom-max - $padding-bottom-min) / 1px;

	@for $i from 0 through $d {
		$step: ($media-max - $media-min) / ($d + 1);
		$min: $i * $step + $media-min;
		$max: $min + $step;

		@include media('>=' + round($min), '<' + round($max)) {

			$padding-bottom: $i + $padding-bottom-min;

			@include rem(padding-bottom, $padding-bottom);

		}
	}
}
*/


@mixin banner-margin-bottom ($media-min, $media-max, $margin-bottom-min, $margin-bottom-max) {

	$d: ($margin-bottom-max - $margin-bottom-min) / 1px;

	@for $i from 0 through $d {
		$step: ($media-max - $media-min) / ($d + 1);
		$min: $i * $step + $media-min;
		$max: $min + $step;

		@include media('>=' + round($min), '<' + round($max)) {

			$margin-bottom: $i + $margin-bottom-min;

			@include rem(margin-bottom, $margin-bottom);

		}
	}
}






//@mixin banner-font-size ($media-min, $media-max, $font-size-min, $font-size-max, $font-size-vw) {
@mixin banner-font-size ($media-min, $media-max, $font-size-min, $font-size-max) {
	$d: ($font-size-max - $font-size-min) / 1px;
	@for $i from 0 through $d {
		$step: ($media-max - $media-min) / ($d + 1);
		$min: $i * $step + $media-min;
		$max: $min + $step;
		@include media('>=' + round($min), '<' + round($max)) {
			$font-size: $i + $font-size-min;
			@include rem(font-size, $font-size);

/*
			@if $font-size-vw != -1 {
				font-size: $font-size-vw;	
			}
*/

//			font-size: $font-size-vw;	


		}
	}
}

@mixin banner-line-height ($media-min, $media-max, $line-height-min, $line-height-max) {

	$d: ($line-height-max - $line-height-min) / 1px;

	@for $i from 0 through $d {
		$step: ($media-max - $media-min) / ($d + 1);
		$min: $i * $step + $media-min;
		$max: $min + $step;

		@include media('>=' + round($min), '<' + round($max)) {

			$line-height: $i + $line-height-min;

			@include rem(line-height, $line-height);

		}
	}
}

/*
@mixin banner-bottom ($media-min, $media-max, $bottom-min, $bottom-max) {

	$d: ($bottom-max - $bottom-min) / 1px;

	@for $i from 0 through $d {
		$step: ($media-max - $media-min) / ($d + 1);
		$min: $i * $step + $media-min;
		$max: $min + $step;

		@include media('>=' + round($min), '<' + round($max)) {

			$bottom: $i + $bottom-min;

			@include rem(bottom, $bottom);

		}
	}
}
*/





.banner {

//	background-color: red;

//	padding: 0;

//	max-height: 840px;

	@include rem(max-height, 840px);


//	min-height: 300px;
	overflow: hidden;
	position: relative;


	img {

		width: 100%;
//		width: auto;
//		height: 100%;
		vertical-align: top;
	}


	&:after {
		content: "";
		position: absolute;



//		@include banner-top (320px, 992px, 40, 100);



//		@include linear-gradient(rgba(51,51,51,0), rgba(51,51,51,0.85));
		@include linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.75)); // <---------------------------------------------------RESTORE IT


//		top: 50%;

//		top: 0;

		right: 0;
		bottom: 0;
		left: 0;


		@include media('screen', '<320px') {
			top: 4%;
		}

		@include banner-top (320px, 1024px, 5%, 49%);

		@include media('screen', '>=1024px') {
			top: 50%;
		}

	}



	& .container {

		position: relative;
		z-index: 1;

//		border: 1px solid blue;
//		background-color: rgba(255,255,0,0.3);

		position: absolute;
//		top: 0;
		right: 0;

		bottom: 0;
//		bottom: 6%;
//		bottom: 77px;

		left: 0;
		margin: auto;

		

//		padding-bottom: 5%;
//		padding-left: 5%;

//		padding-bottom: 72px;

/*
		@include media('screen', '<320px') {
			@include rem(padding-bottom, 26px);
		}

//		@include banner-padding-bottom (320px, 1300px, 32px, 72px);
		@include banner-padding-bottom (320px, 992px, 27px, 71px);

		@include media('screen', '>=992px') {
			@include rem(padding-bottom, 72px);
		}
*/

//		display: inline-block;
//		vertical-align: bottom;

		


		

		h1 {
//			background-color: rgba(0,0,255,0.2);

			font-family: "Open-Sans-Semibold", sans-serif;
			text-transform: uppercase;

//			max-width: 650px;
			@include rem(max-width, 650px);
//			width: 51%;
	
			color: $white;
//			color: rgba(0,255,255,0.8);
	
//			margin-bottom: 14px;
//			padding-bottom: 14px;

			

			//margin: 0 5%;
			margin-left: 2%;
			margin-right: 2%;


	
//			font-size: 60px;
//			font-size: 43px;
//			font-size: 4.3vw;

/*
			@include banner-font-size (992px, 1300px, 45px, 59px, 4.55vw);

			@include media('screen', '>=1300px') {
				@include rem(font-size, 60px);
			}
*/

/*
			@include media('screen', '<320px') {
				@include rem(padding-bottom, 6px);
			}

			@include banner-padding-bottom (320px, 992px, 7px, 15px);

			@include media('screen', '>=992px') {
				@include rem(padding-bottom, 16px);
			}
*/
			@include media('screen', '<320px') {
				@include rem(margin-bottom, 7px);
			}

			@include banner-margin-bottom (320px, 992px, 8px, 15px);

			@include media('screen', '>=992px') {
				@include rem(margin-bottom, 16px);
			}



//			font-size: 4.55vw;

//			@include banner-font-size (320px, 1300px, 20px, 59px);

			@include media('screen', '<320px') {
				@include rem(font-size, 16px);
			}

			@include banner-font-size (320px, 1024px, 17px, 59px);
//			@include banner-font-size (320px, 992px, 16px, 59px);
//			@include banner-font-size (320px, 768px, 16px, 59px);

			
			@include media('screen', '>=1024px') {
//			@include media('screen', '>=992px') {
//			@include media('screen', '>=768px') {
				@include rem(font-size, 60px);
			}

/*
			@include media('screen', '>=1300px') {
				@include rem(font-size, 60px);
			}
*/
			



		}

		h4 {
//			background-color: rgba(255,0,255,0.2);

			font-family: "Open-Sans-Semibold", sans-serif;

//			width: 90%;
	
//			max-width: 650px;
			@include rem(max-width, 650px);
//			width: 51%;



	 		color: $white;
//			color: rgba(255,255,0,0.8);

			margin-left: 2%;
			margin-right: 2%;
	
//			font-size: 16px;
//			line-height: 25px;
			
			@include media('screen', '<320px') {
				@include rem(line-height, 13px);
			}

//			@include banner-line-height (320px, 1024px, 16px, 25px);
			@include banner-line-height (320px, 992px, 14px, 24px);
//			@include banner-line-height (320px, 768px, 14px, 24px);


//			@include media('screen', '>=768px') {
			@include media('screen', '>=992px') {
				@include rem(line-height, 25px);
			}



			



			@include media('screen', '<320px') {
				@include rem(font-size, 11px);
			}

//			@include banner-font-size (320px, 1024px, 12px, 16px);
//			@include banner-font-size (320px, 992px, 12px, 15px);
//			@include banner-font-size (320px, 768px, 12px, 15px);
			@include banner-font-size (320px, 640px, 12px, 15px);

//			@include media('screen', '>=992px') {
//			@include media('screen', '>=768px') {
			@include media('screen', '>=640px') {
				@include rem(font-size, 16px);
			}


/*

			@include media('screen', '<320px') {
				@include rem(padding-bottom, 26px);
			}
	
//			@include banner-padding-bottom (320px, 1300px, 32px, 72px);
			@include banner-padding-bottom (320px, 992px, 27px, 71px);
	
			@include media('screen', '>=992px') {
				@include rem(padding-bottom, 72px);
			}
*/


			@include media('screen', '<320px') {
				@include rem(margin-bottom, 7px);
			}
	
//			@include banner-padding-bottom (320px, 1300px, 32px, 72px);
			@include banner-margin-bottom (320px, 992px, 8px, 12px);
	

			@include media('screen', '>=992px') {
				@include rem(margin-bottom, 12px);
			}


//			@include rem(margin-bottom, 12px);
//			@include rem(margin-bottom, 8px);

	
		}







		form {
			&.book-accommodation {

//				background-color: rgba(255,0,0,0.3);
				background-color: rgba(0,0,0,0.55);

//				[class*="col"] {
//					border: 1px solid red;
//				}

//				margin-bottom: 32px;
				@include rem(margin-bottom, 32px);

//				max-width: 840px;
				@include rem(max-width, 960px);

				margin-left: 2%;
				margin-right: 2%;

				@include border-radius(3px);

				@include rem(padding, 0 7px 7px);



				label {

					@include rem(padding, 14px 0 12px);

				}


				.input-wrapper,
				.select-wrapper {
					&:after {
						@include rem(padding, 16px 0 0 14px);
					}
				}

				.input-wrapper {

					&:before {
						@include rem(padding, 5px 0 0 3px);
					}

					input {
						&[type="text"] {
							@include rem(padding, 12px 80px 12px 12px);
						}
					}
				}

				.select-wrapper {
					select {
						@include rem(padding, 12px 20px 12px 12px);
					}
				}

				input[type="submit"] {

					color: $white;
					background-color: $blue;

					@include rem(padding, 12px 0);
					@include rem(margin-top, 39px);

					&:hover {
						background-color: lighten($blue, 15%);
						color: darken($blue, 15%);
					}

				}



			}
		}











//		a:last-child {
		a {
			&:last-child {
//			h1 + a,
//			h4 + a {
	
//				background-color: rgba(255,0,0,0.2);
	
//				position: absolute;
				display: block;
	
	
				margin-left: 2%;
				margin-right: 2%;
	
//				bottom: 38px;
	
	
	
	
	
				font-family: "Open-Sans-Semibold", sans-serif;
				font-style: italic;
				text-transform: uppercase;
				text-decoration: none;
	
				color: $blue;
//				color: rgba(255,255,0,0.8);
	
				&:hover {
					color: lighten($blue, 15%);
				}
	
	
//				font-size: 19px;
//				font-size: 1.38vw;
	
/*	
//				bottom: 38px;
	
				@include media('screen', '<320px') {
					@include rem(bottom, 9px);
				}
	
//				@include banner-bottom (320px, 1300px, 12px, 38px);
				@include banner-bottom (320px, 992px, 10px, 39px);
	
				@include media('screen', '>=992px') {
					@include rem(bottom, 40px);
				}
*/	
				
				@include media('screen', '<320px') {
					@include rem(margin-bottom, 11px);
				}
	
//				@include banner-bottom (320px, 1300px, 12px, 38px);
				@include banner-margin-bottom (320px, 992px, 12px, 39px);
	
				@include media('screen', '>=992px') {
					@include rem(margin-bottom, 40px);
				}
	
	
				@include media('screen', '<320px') {
					@include rem(font-size, 10px);
				}
				
//				@include banner-font-size (320px, 1300px, 9px, 19px);
	
				@include banner-font-size (320px, 992px, 11px, 19px);
//				@include banner-font-size (992px, 1300px, 14px, 19px);
	
				@include media('screen', '>=992px') {
					@include rem(font-size, 20px);
				}
	
			}
		}

	}

/*
	h1 {
		background-color: rgba(255,0,0,0.2);

		position: absolute;
//		bottom: 25%;

//		left: 5%;

		font-family: "Open-Sans-Semibold", sans-serif;
		text-transform: uppercase;

		color: $white;
		color: rgba(0,255,255,0.8);

		

		font-size: 60px;




	}


	h4 {
//		background-color: rgba(255,0,255,0.2);

		position: absolute;
//		bottom: 12%;

//		left: 5%;

		width: 90%;

		max-width: 630px;



//		color: $white;
		color: rgba(255,255,0,0.8);

		font-size: 16px;
		line-height: 22px;


	}
*/


}


/*
@mixin banners-padding ($media-min, $media-max, $padding-min, $padding-max) {
	$d: ($padding-max - $padding-min) / 1px;
	@for $i from 0 through $d {
		$step: ($media-max - $media-min) / ($d + 1);
		$min: $i * $step + $media-min;
		$max: $min + $step;
		@include media('>=' + round($min), '<' + round($max)) {
			$padding-top: $i + $padding-min;
			@include rem(padding-top, $padding-top);
			$padding-bottom: $i + $padding-min;
			@include rem(padding-bottom, $padding-bottom);
		}
	}
}

@mixin banners-font-size ($media-min, $media-max, $font-size-min, $font-size-max, $font-size-vw) {
	$d: ($font-size-max - $font-size-min) / 1px;
	@for $i from 0 through $d {
		$step: ($media-max - $media-min) / ($d + 1);
		$min: $i * $step + $media-min;
		$max: $min + $step;
		@include media('>=' + round($min), '<' + round($max)) {
			$font-size: $i + $font-size-min;
			@include rem(font-size, $font-size);
			font-size: $font-size-vw;	
		}
	}
}

.banners {
	@include media('screen', '<320px') {
		@include rem(padding-top, 20px);
		@include rem(padding-bottom, 20px);
	}
	@include banners-padding (320px, 992px, 21px, 65px);
	@include banners-padding (992px, 1248px, 52px, 64px);
	@include media('screen', '>=1248px') {
		@include rem(padding-top, 65px);
		@include rem(padding-bottom, 65px);
	}
	& .row {
		padding: 0 7px;
		& [class*="col"] {
			padding: 7px;
			&:after {
				content: "";
				position: absolute;
				top: 50%;
				@include rem(right, 7px);
				@include rem(bottom, 7px);
				@include rem(left, 7px);
				@include linear-gradient(rgba(0,0,2055,0), rgba(0,0,0,0.75));
			}
			& img {
				width: 100%;
				vertical-align: top;
			}
			& h2 {
				position: absolute;
				top: 64%;
				left: 5%;
				font-weight: bold;
				text-transform: uppercase;
				color: $white;
				z-index: 1;
				@include media('screen', '<320px') {
					@include rem(font-size, 13px);
					font-size: 4.9vw;
				}
				@include banners-font-size (320px, 992px, 14px, 50px, 4.9vw);
				@include banners-font-size (992px, 1300px, 24px, 32px, 2.5vw);
				@include media('screen', '>=1300px') {
					@include rem(font-size, 33px);
				}
			}
			& h2 + a {
				position: absolute;
				left: 5%;
				bottom: 6.5%;
				margin-bottom: 7px;
				font-family: "Open-Sans-Semibold", sans-serif;
				font-style: italic;
				text-transform: uppercase;
				text-decoration: none;
				color: $blue;
				z-index: 1;
				&:hover {
					color: lighten($blue, 15%);
				}
				@include media('screen', '<320px') {
					@include rem(font-size, 8px);
					font-size: 2.8vw;
				}
				@include banners-font-size (320px, 992px, 9px, 30px, 2.8vw);
				@include banners-font-size (992px, 1300px, 14px, 19px, 1.5vw);

				@include media('screen', '>=1300px') {
					@include rem(font-size, 20px);
				}
			}
		}
	}
}
*/