/*************************** Banner Section Styles ****************************/



@mixin banner-top ($media-min, $media-max, $top-min, $top-max) {

	$d: ($top-max - $top-min) / 1%;

	@for $i from 0 through $d {
		$step: ($media-max - $media-min) / ($d + 1);
		$min: $i * $step + $media-min;
		$max: $min + $step;

		@include media('>=' + round($min), '<' + round($max)) {

			$top: $i + $top-min;


			top: $top;

		}
	}
}


@mixin banner-margin-bottom ($media-min, $media-max, $margin-bottom-min, $margin-bottom-max) {

	$d: ($margin-bottom-max - $margin-bottom-min) / 1px;

	@for $i from 0 through $d {
		$step: ($media-max - $media-min) / ($d + 1);
		$min: $i * $step + $media-min;
		$max: $min + $step;

		@include media('>=' + round($min), '<' + round($max)) {

			$margin-bottom: $i + $margin-bottom-min;

			@include rem(margin-bottom, $margin-bottom);

		}
	}
}



@mixin banner-font-size ($media-min, $media-max, $font-size-min, $font-size-max) {
	$d: ($font-size-max - $font-size-min) / 1px;
	@for $i from 0 through $d {
		$step: ($media-max - $media-min) / ($d + 1);
		$min: $i * $step + $media-min;
		$max: $min + $step;
		@include media('>=' + round($min), '<' + round($max)) {
			$font-size: $i + $font-size-min;
			@include rem(font-size, $font-size);

		}
	}
}

@mixin banner-line-height ($media-min, $media-max, $line-height-min, $line-height-max) {

	$d: ($line-height-max - $line-height-min) / 1px;

	@for $i from 0 through $d {
		$step: ($media-max - $media-min) / ($d + 1);
		$min: $i * $step + $media-min;
		$max: $min + $step;

		@include media('>=' + round($min), '<' + round($max)) {

			$line-height: $i + $line-height-min;

			@include rem(line-height, $line-height);

		}
	}
}




.banner {


	@include rem(max-height, 840px);

	overflow: hidden;
	position: relative;


	img {

		width: 100%;
		vertical-align: top;
	}


	&:after {
		content: "";
		position: absolute;

		@include linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.75));

		right: 0;
		bottom: 0;
		left: 0;


		@include media('screen', '<320px') {
			top: 4%;
		}

		@include banner-top (320px, 1024px, 5%, 49%);

		@include media('screen', '>=1024px') {
			top: 50%;
		}

	}



	& .container {

		position: relative;
		z-index: 1;


		position: absolute;
		right: 0;

		bottom: 0;

		left: 0;
		margin: auto;


		


		

		h1 {

			font-family: "Open-Sans-Semibold", sans-serif;
			text-transform: uppercase;

			@include rem(max-width, 650px);
	
			color: $white;
			margin-left: 2%;
			margin-right: 2%;

			@include media('screen', '<320px') {
				@include rem(margin-bottom, 7px);
			}

			@include banner-margin-bottom (320px, 992px, 8px, 15px);

			@include media('screen', '>=992px') {
				@include rem(margin-bottom, 16px);
			}

			@include media('screen', '<320px') {
				@include rem(font-size, 16px);
			}

			@include banner-font-size (320px, 1024px, 17px, 59px);

			
			@include media('screen', '>=1024px') {

				@include rem(font-size, 60px);
			}
			

		}

		h4 {

			font-family: "Open-Sans-Semibold", sans-serif;

			@include rem(max-width, 650px);

	 		color: $white;

			margin-left: 2%;
			margin-right: 2%;
			
			@include media('screen', '<320px') {
				@include rem(line-height, 13px);
			}

			@include banner-line-height (320px, 992px, 14px, 24px);

			@include media('screen', '>=992px') {
				@include rem(line-height, 25px);
			}



			



			@include media('screen', '<320px') {
				@include rem(font-size, 11px);
			}

			@include banner-font-size (320px, 640px, 12px, 15px);

			@include media('screen', '>=640px') {
				@include rem(font-size, 16px);
			}



			@include media('screen', '<320px') {
				@include rem(margin-bottom, 7px);
			}
	
			@include banner-margin-bottom (320px, 992px, 8px, 12px);
	

			@include media('screen', '>=992px') {
				@include rem(margin-bottom, 12px);
			}


	
		}




		form {
			&.book-accommodation {

				background-color: rgba(0,0,0,0.55);

				@include rem(max-width, 960px);


				@include media('screen', '<phablet') {
					margin-left: 0;
					margin-right: 0;
				}

				@include media('screen', '>=phablet') {
					margin-left: 2%;
					margin-right: 2%;
				}



				@include border-radius(3px);

				@include media('screen', '<phone-wide') {
					@include rem(margin-bottom, 10px);
					@include rem(padding-bottom, 5px);
				}

				@include media('>=phone-wide', '<phablet') {
					@include rem(margin-bottom, 14px);
					@include rem(padding-bottom, 6px);
				}

				@include media('>=phablet', '<tablet') {
					@include rem(margin-bottom, 16px);
					@include rem(padding-bottom, 7px);
				}

				@include media('screen', '>=tablet') {
					@include rem(margin-bottom, 32px);
					@include rem(padding, 0 7px 9px);
				}



				label {

					@include media('screen', '<phone-wide') {
						@include rem(font-size, 11px);
						@include rem(padding, 5px 0 4px);
					}

					@include media('>=phone-wide', '<phablet') {
						@include rem(font-size, 12px);
						@include rem(padding, 6px 0 5px);
					}

					@include media('>=phablet', '<tablet') {
						@include rem(font-size, 13px);
						@include rem(padding, 8px 0 6px);
					}

					@include media('screen', '>=tablet') {
						@include rem(font-size, 14px);
						@include rem(padding, 14px 0 12px);
					}

				}


				.input-wrapper,
				.select-wrapper {
					&:after {

						@include media('screen', '<phone-wide') {
							@include rem(width, 20px);
							@include rem(font-size, 7px);
							@include rem(padding, 8px 0 0 2px);
						}

						@include media('>=phone-wide', '<phablet') {
							@include rem(width, 30px);
							@include rem(font-size, 8px);
							@include rem(padding, 10px 0 0 8px);
						}

						@include media('screen', '>=phablet') {
							@include rem(width, 40px);
							@include rem(font-size, 9px);
						}

						@include media('>=phablet', '<tablet') {
							@include rem(padding, 12px 0 0 12px);
						}

						@include media('screen', '>=tablet') {
							@include rem(padding, 17px 0 0 14px);
						}
					}
				}

				.input-wrapper {

					&:before {

						@include media('screen', '<phone-wide') {

							@include rem(right, 20px);
							@include rem(width, 20px);
							@include rem(padding, 3px 0 0 0);

							@include rem(font-size, 15px);
						}

						@include media('>=phone-wide', '<phablet') {
							
							@include rem(right, 30px);
							@include rem(width, 22px);
							@include rem(padding, 4px 0 0 2px);

							@include rem(font-size, 18px);
						}

						@include media('screen', '>=phablet') {
							@include rem(right, 40px);
						}

						@include media('>=phablet', '<tablet') {
							
							@include rem(width, 26px);
							@include rem(padding, 5px 0 0 2px);

							@include rem(font-size, 21px);
						}

						@include media('screen', '>=tablet') {
							
							@include rem(width, 30px);

							@include rem(padding, 7px 0 0 2px);
							@include rem(font-size, 25px);
						}
					}

					input {
						&[type="text"] {

							@include media('screen', '<phone-wide') {
								@include rem(font-size, 11px);
								@include rem(padding, 4px 40px 4px 6px);
							}

							@include media('>=phone-wide', '<phablet') {
								@include rem(font-size, 12px);
								@include rem(padding, 6px 60px 6px 10px);
							}

							@include media('>=phablet', '<tablet') {
								@include rem(font-size, 13px);
								@include rem(padding, 8px 80px 8px 10px);
							}

							@include media('screen', '>=tablet') {
								@include rem(font-size, 14px);
								@include rem(padding, 12px 80px 12px 12px);
							}
						}
					}
				}

				.select-wrapper {
					select {

						@include media('screen', '<phone-wide') {
							@include rem(font-size, 11px);
							@include rem(padding, 4px 20px 4px 6px);
						}

						@include media('>=phone-wide', '<phablet') {
							@include rem(font-size, 12px);
							@include rem(padding, 6px 30px 6px 8px);
						}

						@include media('>=phablet', '<tablet') {
							@include rem(font-size, 13px);
							@include rem(padding, 8px 40px 8px 10px);
						}

						@include media('screen', '>=tablet') {
							@include rem(font-size, 14px);
							@include rem(padding, 12px 40px 12px 12px);
						}
					}
				}

				input[type="submit"] {

					color: $white;
					background-color: $blue;

					&:hover {

						color: $dark-blue;
						background-color: lighten($blue, 15%);
					}

					@include media('>=phone', '<phone-wide') {
						@include rem(max-width, 150px);
					}
					
					@include media('screen', '<phone-wide') {
						@include rem(font-size, 11px);

						@include rem(padding, 4px 0);
						@include rem(margin-top, 10px);
					}

					@include media('>=phone-wide', '<phablet') {
						@include rem(font-size, 12px);
						@include rem(max-width, 160px);
						@include rem(padding, 6px 0);
						@include rem(margin-top, 16px);
					}

					@include media('>=phablet', '<tablet') {
						@include rem(font-size, 13px);
						@include rem(max-width, 180px);
						@include rem(padding, 8px 0);
						@include rem(margin-top, 18px);
					}

					@include media('screen', '>=tablet') {
						@include rem(font-size, 14px);
						@include rem(max-width, 220px);
						@include rem(padding, 12px 0);
					}

					@include media('>=tablet', '<tablet-wide') {
						@include rem(margin-top, 24px);
					}

					@include media('screen', '>=tablet-wide') {
						@include rem(margin-top, 39px);
					}

					@include media('screen', '<desktop-wide') {
						float: right;

					}

				}



			}
		}




		a {
			&:last-child {

				display: block;
	
	
				margin-left: 2%;
				margin-right: 2%;
	

	
				font-family: "Open-Sans-Semibold", sans-serif;
				font-style: italic;
				text-transform: uppercase;
				text-decoration: none;
	
				color: $blue;
	
				&:hover {
					color: lighten($blue, 15%);
				}
	
				
				@include media('screen', '<320px') {
					@include rem(margin-bottom, 11px);
				}

				@include banner-margin-bottom (320px, 992px, 12px, 39px);
	
				@include media('screen', '>=992px') {
					@include rem(margin-bottom, 40px);
				}
	
	
				@include media('screen', '<320px') {
					@include rem(font-size, 10px);
				}
				

				@include banner-font-size (320px, 992px, 11px, 19px);
	
				@include media('screen', '>=992px') {
					@include rem(font-size, 20px);
				}
	
			}
		}

	}


}

