/*************************** Banners Section Styles ****************************/

@mixin banners-font-size ($media-min, $media-max, $font-size-min, $font-size-max, $font-size-vw) {
	$d: ($font-size-max - $font-size-min) / 1px;
	@for $i from 0 through $d {
		$step: ($media-max - $media-min) / ($d + 1);
		$min: $i * $step + $media-min;
		$max: $min + $step;
		@include media('>=' + round($min), '<' + round($max)) {
			$font-size: $i + $font-size-min;
			@include rem(font-size, $font-size);
			font-size: $font-size-vw;	
		}
	}
}




.banners {

//	position: relative;
//	z-index: -1;

//	padding-top: 65px;
//	padding-bottom: 65px;

//	padding-top: 5.2vw;
//	padding-top: 6.6vw;

//	@include media('screen', '>=desktop-wide') {}

/*
	@for $i from 0 through 36 {
		$step: (992px - 320px) / 37;
		$min: $i * $step + 320px;
		$max: $min + $step;
		@include media('>=' + round($min), '<' + round($max)) {
			$padding-top: $i + 60px;
			@include rem(padding-top, $padding-top);
			$padding-bottom: $i + 60px;
			@include rem(padding-bottom, $padding-bottom);
		}
	}
*/
/*
	@for $i from 0 through 4 {
		$step: (1248px - 992px) / 5;
		$min: $i * $step + 992px;
		$max: $min + $step;
		@include media('>=' + round($min), '<' + round($max)) {
			$padding-top: $i + 60px;
			@include rem(padding-top, $padding-top);
			$padding-bottom: $i + 60px;
			@include rem(padding-bottom, $padding-bottom);
		}
	}
*/




	@mixin banners-padding ($media-min, $media-max, $padding-min, $padding-max) {
		$d: ($padding-max - $padding-min) / 1px;
		@for $i from 0 through $d {
			$step: ($media-max - $media-min) / ($d + 1);
			$min: $i * $step + $media-min;
			$max: $min + $step;
			@include media('>=' + round($min), '<' + round($max)) {
				$padding-top: $i + $padding-min;
				@include rem(padding-top, $padding-top);
				$padding-bottom: $i + $padding-min;
				@include rem(padding-bottom, $padding-bottom);
			}
		}
	}

	@include media('screen', '<320px') {
		@include rem(padding-top, 20px);
		@include rem(padding-bottom, 20px);
	}


	@include banners-padding (320px, 992px, 21px, 65px);
	@include banners-padding (992px, 1248px, 52px, 64px);

	@include media('screen', '>=1248px') {
		@include rem(padding-top, 65px);
		@include rem(padding-bottom, 65px);
	}



	& .row {

//		border: 1px solid red;

		padding: 0 7px;

		& [class*="col"] {

//			border: 1px solid blue;


			padding: 7px;
			

//			background: rgba(255,0,0,0.9);

			&:after {
				content: "";
				position: absolute;
//				@include rem(top, 7px);

				top: 50%;

				@include rem(right, 7px);
				@include rem(bottom, 7px);
				@include rem(left, 7px);

//				background: rgba(255,0,0,0.2);
//				@include linear-gradient(rgba(51,51,51,0), rgba(51,51,51,0.8));
				@include linear-gradient(rgba(0,0,2055,0), rgba(0,0,0,0.75));

			}

			& img {
				width: 100%;
				vertical-align: top;
			}

			& h2 {
				position: absolute;
//				bottom: 120px;
//				bottom: 30%;
//				top: 65%;
				top: 64%;
				left: 5%;
//				margin-top: 7px;

//				@include rem(font-size, 30px);
//				@include rem(line-height, 34px);

//				@include rem(font-size, 33px);
//				@include rem(font-size, 24px);

//				@include rem(font-size, 50px);
//				@include rem(font-size, 14px);


//				font-size: 2.5vw;
//				font-size: 5.5vh;

//				font-size: 4.9vw;



				font-weight: bold;
				text-transform: uppercase;

//				color: rgba(255,0,255,0.8);
				color: $white;

				z-index: 1;

/*
				@mixin banners-h2 ($media-min, $media-max, $font-size-min, $font-size-max) {
					$d: ($font-size-max - $font-size-min) / 1px;
					@for $i from 0 through $d {
						$step: ($media-max - $media-min) / ($d + 1);
						$min: $i * $step + $media-min;
						$max: $min + $step;
						@include media('>=' + round($min), '<' + round($max)) {
							$font-size: $i + $font-size-min;
							@include rem(font-size, $font-size);
//							$line-height: round($font-size * 1.44);
//							@include rem(line-height, $line-height);
//							$padding-bottom: $font-size * 0.1389;
//							@include rem(padding-bottom, $padding-bottom);	
						}
					}
				}



				@include media('screen', '<320px') {
					@include rem(font-size, 13px);
				}

				@include banners-h2 (320px, 992px, 14px, 50px);
				@include banners-h2 (992px, 1300px, 24px, 32px);

				@include media('screen', '>=1300px') {
					@include rem(font-size, 33px);
				}
*/

/*
				@mixin banners-h2 ($media-min, $media-max, $font-size-min, $font-size-max, $font-size-vw) {
					$d: ($font-size-max - $font-size-min) / 1px;
					@for $i from 0 through $d {
						$step: ($media-max - $media-min) / ($d + 1);
						$min: $i * $step + $media-min;
						$max: $min + $step;
						@include media('>=' + round($min), '<' + round($max)) {
							$font-size: $i + $font-size-min;
							@include rem(font-size, $font-size);
							font-size: $font-size-vw;
//							$line-height: round($font-size * 1.44);
//							@include rem(line-height, $line-height);
//							$padding-bottom: $font-size * 0.1389;
//							@include rem(padding-bottom, $padding-bottom);	
						}
					}
				}
*/

				@include media('screen', '<320px') {
					@include rem(font-size, 13px);
					font-size: 4.9vw;
				}

//				@include banners-h2 (320px, 992px, 14px, 50px, 4.9vw);
//				@include banners-h2 (992px, 1300px, 24px, 32px, 2.5vw);

				@include banners-font-size (320px, 992px, 14px, 50px, 4.9vw);
				@include banners-font-size (992px, 1300px, 24px, 32px, 2.5vw);

				@include media('screen', '>=1300px') {
					@include rem(font-size, 33px);
				}



			}


			& h2 + a {

				position: absolute;
				left: 5%;

				bottom: 6.5%;

				margin-bottom: 7px;

				font-family: "Open-Sans-Semibold", sans-serif;
				font-style: italic;

				text-transform: uppercase;
				text-decoration: none;

//				color: rgba(255,255,0,0.8);
				color: $blue;

				z-index: 1;

				&:hover {
					color: lighten($blue, 15%);
				}


//				font-size: 1.5vw;
//				font-size: 2.8vw;


				@include media('screen', '<320px') {
					@include rem(font-size, 8px);
					font-size: 2.8vw;
				}
				

				@include banners-font-size (320px, 992px, 9px, 30px, 2.8vw);
				@include banners-font-size (992px, 1300px, 14px, 19px, 1.5vw);

				@include media('screen', '>=1300px') {
					@include rem(font-size, 20px);
				}


			}

		}

	}
	
}
