/*************************** Booking Accommodation Styles ****************************/

.booking {

	background-color: $blue;

/*
	.container {
		border: 1px solid blue;

		max-width: 1000px;

		padding: 32px 5%;

//		padding-top: 32px;





		[class*="col"] {
			border: 1px solid red;
		}



	}
*/
	


}