/*************************** Booking Accommodation Styles ****************************/

.booking {

	background-color: $blue;


	.container {
//		border: 1px solid blue;

//		background-color: rgba(255,0,0,0.2);

		max-width: 1000px;

//		padding: 32px 5%;
//		@include rem(padding, 34px 2%);

//		padding-left: 5%;
//		padding-right: 5%;

//		@include rem(padding-top, 34px);
//		@include rem(padding-bottom, 34px);

		@include rem(padding-top, 15px);
		@include rem(padding-bottom, 34px);

		@include rem(padding-left, 34px);
		@include rem(padding-right, 34px);


		.nav {
			&.nav-tabs {

//				background-color: rgba(255,0,0,0.1);

				border: 0;

				.nav-link {
		
					position: relative;
		
					background-color: transparent;
//					background-color: rgba(0,0,255,0.2);
		
					color: $white;
		
					text-decoration: none;
					text-transform: uppercase;

					
		
					
		
					border: 0;
		
		//			padding: 0 0 20px;
//					@include rem(padding, 0 0 15px);
					@include rem(padding, 19px 0 15px);
//					@include rem(padding-top, 19px);
		
		
					@include rem(font-size, 16px);

					h4 {
						font-family: "Open-Sans-Semibold", sans-serif;
					}
		
					&.active,
					&:not(.active):hover {
		
						
		
						&:after {
							content: "";
							position: absolute;
							
							left: 0;
							right: 0;
			
							bottom: 0;
							height: 5px;
			
		//					background-color: $white;
						}
		
					}
		
					&.active {
		//				font-family: "Open-Sans-Semibold", sans-serif;
						cursor: default;
						&:after {
							background-color: $white;
						}
					}
		
					&:not(.active) {
						&:hover {
							color: lighten($blue, 45%);
							&:after {
								background-color: lighten($blue, 45%);
							}
						}
					}
		
				}


			}
		}


		.tab-content {
//			background-color: rgba(255,255,0,0.2);

//			@include rem(padding-top, 37px);
			@include rem(padding-top, 20px);

			.tab-pane {

//				background-color: rgba(0,0,255,0.2);

//				[class*="col"] {
//					border: 1px solid red;
//				}
				
				form {
					&.book-accommodation {

						label {

							@include rem(padding, 16px 0 13px);

						}

						.input-wrapper,
						.select-wrapper {

							background-color: rgba(255,255,255,0.2);

							&:after {
								@include rem(padding, 20px 0 0 14px);
							}
						}

						.input-wrapper {

							&:before {
								@include rem(padding, 9px 0 0 3px);
							}


							input {
								&[type="text"] {
									@include rem(padding, 15px 80px 15px 15px);
								}
							}
						}

						.select-wrapper {
							select {
								@include rem(padding, 15px 20px 15px 15px);
							}
						}

						input[type="submit"] {

							color: $blue;
							background-color: $white;

							@include rem(padding, 15px 0);
							@include rem(margin-top, 42px);

							&:hover {
								background-color: lighten($blue, 45%);
								color: darken($blue, 15%);
							}
						}

					}
				}


			}

		}
		







//		[class*="col"] {
//			border: 1px solid red;
//		}



	}

	


}