/*************************** Content Styles ****************************/

@mixin content-gray ($media-min, $media-max, $padding-min, $padding-max) {

	$d: ($padding-max - $padding-min) / 1px;

	@for $i from 0 through $d {

		$step: ($media-max - $media-min) / ($d + 1);
		$min: $i * $step + $media-min;
		$max: $min + $step;

		@include media('>=' + round($min), '<' + round($max)) {

			$padding-top: $i + $padding-min;
			@include rem(padding-top, $padding-top);

			@include rem(margin-top, $padding-top * -1);

			

		}
	}

}



.content {

//	background-color: rgba(255,255,0,0.3);

	@include rem(padding-bottom, 50px);

//	&.container {
//
////		background-color: rgba(255,0,0,0.2);
////		@include rem(max-width, 944px);
//		@include rem(max-width, 930px);
//
//	}

//	@include rem(max-width, 940px);

//	margin: 0 auto;

////	position: relative;
//
//	&:before {
//		background-color: rgba(0,255,0,0.2);
//		content: "A";
//		position: absolute;
//		left: 0;
//		right: 0;
////		top: 0;
////		height: 100%;
//		
//
//	}



	.row {

//		border: 1px solid blue;

//		.col {
		[class*="col"] {

//			background-color: rgba(0,255,0,0.4);

//			border: 1px solid red;
			@include rem(padding, 8px);
//			padding: 0;

//			figure {
//
////				background-color: rgba(0,0,255,0.4);
//
//				@include rem(margin, 8px);
//
////				img {
////					width: 100%;
////					vertical-align: top;
////				}
//			}

			figure + h4 {

				background-color: $gray;

				text-transform: uppercase;
				text-align: center;

				font-family: "Open-Sans-Semibold", sans-serif;
				@include rem(font-size, 14px);

				@include rem(padding, 20px 2%);
//				height: 55px;
//				@include rem(height, 55px);

				a {
					color: $blue;
					text-decoration: none;
					&:hover {
						color: darken($blue, 15%);
					}
				}

			}

			figure + h4 + h3 {
//				background-color: rgba(0,0,255,0.2);

				color: #4d4e4e;

				text-align: center;

				font-family: "Open-Sans-Semibold", sans-serif;
				@include rem(font-size, 16px);

				@include rem(padding, 20px 2%);
			}



//			figure {
//
//				& + h4 {
//	
//					background-color: $gray;
//	
//					text-transform: uppercase;
//					text-align: center;
//	
//					font-family: "Open-Sans-Semibold", sans-serif;
//					@include rem(font-size, 14px);
//	
//					@include rem(padding, 20px 2%);
////					height: 55px;
////					@include rem(height, 55px);
//	
//					a {
//						color: $blue;
//						text-decoration: none;
//						&:hover {
//							color: darken($blue, 15%);
//						}
//					}
//				}
//
//			}


		}

		[class^="d-"] {
//			background-color: rgba(0,0,255,0.2);
			width: 100%;
			height: 0;
		}

//		.w-100 {
//			background-color: rgba(0,0,255,0.2);
//		}


	}



	.gray {

//		background-color: rgba(255,0,0,0.1);
		background-color: $gray;

		@include media('screen', '<320px') {
			@include rem(padding-top, 7px);
			@include rem(margin-top, -7px);
		}


		@include content-gray (320px, 640px, 8px, 23px);

		@include media('screen', '>=640px') {
			@include rem(padding-top, 24px);
			@include rem(margin-top, -24px);
		}


		.row {
			figure + h4 {
				background-color: $white;
			}
		}

	}





	.row + h3,
	.gray + h3 {

//		background-color: rgba(0,255,0,0.2);

		color: $blue;
		text-transform: uppercase;
		text-align: center;
		font-family: "Open-Sans-Semibold", sans-serif;
		@include rem(font-size, 16px);
		@include rem(line-height, 22px);

//		@include rem(margin, 92px 0);
		

		b,
		strong {
			font-family: "Open-Sans-ExtraBold", sans-serif;
		}

	}

	.gray + h3 {
		padding: 0 10%;
	}


	.row + h5 {

//		background-color: rgba(0,0,255,0.1);

		color: $pink;
		text-align: center;
		@include rem(font-size, 13px);
		@include rem(padding, 36px 0);

	}


//	[class*="col"] {
//
//		@include rem(padding, 8px);
//
//		figure + h4 {
//
//			background-color: $gray;
//			text-transform: uppercase;
//			text-align: center;
//			font-family: "Open-Sans-Semibold", sans-serif;
//
//			@include rem(font-size, 14px);
//			@include rem(padding, 20px 2%);
//
//			a {
//
//				color: $blue;
//				text-decoration: none;
//
//				&:hover {
//					color: darken($blue, 15%);
//				}
//			}
//		}
//	}

	
//	[class*="col"] {
//		@include rem(padding, 8px);
//	}
//
//
//	figure + h4 {
//
//		background-color: $gray;
//		text-transform: uppercase;
//		text-align: center;
//		font-family: "Open-Sans-Semibold", sans-serif;
//
//		@include rem(font-size, 14px);
//		@include rem(padding, 20px 2%);
//
//		a {
//
//			color: $blue;
//			text-decoration: none;
//
//			&:hover {
//				color: darken($blue, 15%);
//			}
//		}
//	}
	






}