/*************************** Header Styles ****************************/

header {

//	height: 120px;
//	background-color: rgba(0,255,0,0.3);
//	background-image: url("../img/!/Greek-Peak_home-page-_ready_a.png");
//	background-repeat: no-repeat;
////	background-position: -33px 0;
//	background-position: -100px 0;


	

	@include rem(max-width, 1300px);

	text-align: right;
	cursor: default;

	&:before, 
	&:after {
		content: "";
		display: block;
//		position: absolute;

	}

//	&:before {
	&:after {
		position: absolute;
	}




//	&:after {
////		background-color: $background-color;
//		background: linear-gradient(red, yellow);
////		@include linear-gradient(rgba(51,51,51,0.15), rgba(51,51,51,0));
////		@include linear-gradient(rgba(51,51,51,1), rgba(51,51,51,0));
//
//
////		@include rem(top, 120px);
//		@include rem(height, 4px);
////		z-index: 0;
//		width: 100%;
//		left: 0;
//	}





	ul {

//		float: left;
//		text-align: left;
		
		@include rem(font-size, 12px);

		li {
			text-transform: uppercase;
		}

		&:first-child {

//			background-color: rgba(255,255,0,0.3);
//			@include rem(margin-left, 38px);
//			margin-right: 2%;

			li {

//				display: inline-block;
				color: $white;

				text-align: left;

//				@include rem(line-height, 12px);
//				@include rem(margin-top, 20px);
//				@include rem(margin-bottom, 16px);

//				&:not(:last-child) {
//					@include rem(margin-right, 24px);
//				}

	
				a {
					color: $white;
					text-decoration: none;
	
					&:hover {
						color: lighten($dark-blue, 75%);
					}
				}

			}
		}


		&:last-child {

//			background-color: rgba(0,255,255,0.3);

//			margin-left: 3.4%;
//			display: inline-table;
//			width: 80%;

			li {

//				display: table-cell;

				text-align: left;

//				@include rem(padding-top, 21px);
//				@include rem(padding-bottom, 15px);
//				@include rem(line-height, 18px);


				p {
					font-family: "Open-Sans-Semibold", sans-serif;
					cursor: pointer;
					
//					br { display: none; }					
				}


				&.selected {
					p {
						color: $blue;
						&:hover {
							color: darken($blue, 15%);
						}
					}
				}

				&:not(.selected) {
					p {
						&:hover {
							color: darken($blue, 15%);
						}
					}
					.container-fluid {
						display: none;
					}
				}



				.container-fluid {
					background-color: rgba(255,255,0,0.5);
//					background-color: #f7f7f7;

					position: absolute;
					
					left: 0;
					right: 0;

//					@include rem(top, 120px);

					z-index: 1;


					&:before, 
					&:after {
						content: "";
						position: absolute;
						left: 0;
						right: 0
					}
					
					&:before {
						background-color: #0498cd;
						@include rem(height, 1px);
					}

					&:after {

						@include rem(height, 4px);

						@include linear-gradient(red, yellow);
//						@include linear-gradient(rgba(239,239,239,1), rgba(239,239,239,0));
					}


					.container {

//						@include rem(min-height, 97px);

						.row {

//							border: solid 1px red;

//							@include rem(min-height, 97px);
							@include rem(min-height, $header-row-lg-min-height);



							&.v-divide {
								[class*="col"] {
									&:not(:last-child) {
										&:after {
											background-color: red;
//											background-color: #e4e4e5;

											content: "";
											display: block;
											position: absolute;
											right: 0;
											@include rem(top, 16px);
											@include rem(bottom, 16px);
											@include rem(width, 1px);
										}
									}

								}

							}




							[class*="col"] {



//								@include rem(min-height, 97px);
//								@include rem(min-height, 197px);
//								height: 100%;
								
								@include rem(font-size, 14px);
								@include rem(letter-spacing, 0.1px);

//								border: solid 1px green;

								.row {
									[class*="col"] {
										&:after {
											display: none;
										}
									}
								}



//								&[class*="d-"] {
//									height: 100%;
//									@include rem(min-height, 97px);
//
//								}

//								.d-table {
								[class*="d-"] {
//									background-color: rgba(0,0,255,0.1);
									width: 100%;
									height: 100%;
//									@include rem(min-height, 97px);
									@include rem(min-height, $header-row-lg-min-height);
								}

										
								

//								& div:not(.align-middle) {
//								& .align-middle {
								& [class*="align-"] {

									h5 {
//										background-color: rgba(0,0,255,0.3);
										margin-top: 0;
									}
								}

								h5 {

//									background-color: rgba(255,0,0,0.3);


									font-weight: bold;
//									color: rgba(255,0,255,0.9);
									color: #abb8bc;

									@include rem(margin-top, 35px);


									a {
										color: $blue;
										text-decoration: none;
										&:hover {
											color: darken($blue, 15%);
										}
									}
								}

								p {
									font-family: "Open-Sans-Light", sans-serif;
									color: $font-color;
									text-transform: none;

									@include rem(line-height, 30px);

									&:first-child {
										@include rem(margin-top, 16px);
									}

									&:last-child {
										@include rem(margin-bottom, 16px);
									}

									b, strong {
										font-family: "Open-Sans-Semibold", sans-serif;
									}

									a {
										color: $font-color;
										text-decoration: none;

										&:hover {
											color: lighten($font-color, 15%);
										}
									}

								}

								.button {
									width: 100%;
									@include rem(max-width, 200px);
								}


							}
						}
					}

				}


			}
		}




	}














	ul:first-child ~ .button {

		position: relative;

//		width: 11.1%;

		@include rem(padding, 10px 0);
//		@include rem(margin-top, 8px);
//		@include rem(top, 8px);

//		margin-left: 1.9%;
//		float: left;

	}

	ul:first-child ~ a:not(.button) {
		text-decoration: none;
	}

	ul:first-child + .button + .button + a {

		position: relative;

//		float: left;
		color: $blue;

		font-weight: bold;
		font-style: italic;
		text-transform: uppercase;

		@include rem(font-size, 14px);
//		@include rem(margin-top, 19px);

//		margin-left: 4.2%;

		&:hover {
			color: lighten($blue, 10%);
		}
	}


	[class*="icon-"] {
//		color: $white;
		@include rem(font-size, 18px);
	}




	form {

		display: inline-block;
		position: relative;

//		@include rem(margin-top, 16px);
//		@include rem(top, 16px);

		@include rem(width, 18px);
		@include rem(height, 22px);

		@include rem(top, 16px);


		&:after {

//			color: $white;
			@include rem(font-size, 18px);

			content: "\f102";
			display: block;
			position: absolute;

			@include rem(width, 18px);
			@include rem(height, 22px);

			font-family: icons;
			font-style: normal;
			font-weight: normal;
			vertical-align: top;
			line-height: 1;

			@include transition(all 0.2s ease-in-out);

		}

		&:hover {
			cursor: pointer;
			&:after {
				opacity: 0.75;
			}
		}
		


		input {

			position: absolute;
			right: 0;

			@include rem(width, 240px);
			@include rem(height, 22px);

			@include rem(padding-left, 8px);
			@include rem(padding-right, 24px);

			border: 0;

			border-bottom: 1px solid $white;
			outline: 0;

			background-color: $dark-blue;


			@include rem(font-size, 14px);
//			color: $white;

			-webkit-appearance: none;

		}

		button {

			position: absolute;
			right: 0;

			@include rem(width, 18px);
			@include rem(height, 22px);


			background-color: transparent;


			border: 0;
			padding: 0;

			cursor: pointer;

			@include transition(all 0.2s ease-in-out);

			&:hover {
				opacity: 0.75;
			}

		}

		&.displayed {
			&:after {
				display: none;
			}
		}
		&:not(.displayed) {
			& input,
			& button {
				display: none;
			}
		}


	}

	form + a {

//		float: right;
//		margin-left: 2.3%;

//		@include rem(margin-right, 38px);
//		@include rem(margin-top, 16px);
//		@include rem(height, 22px);
//
		.icon-cart {
//			background: rgba(255,255,0,0.4);
			@include transition(all 0.2s ease-in-out);
		}

		&:hover {
			.icon-cart {
				opacity: 0.75;
			}
		}

	}//<--------------------------------------------------------------------- MAIN STYLES








//========================================================================================================








@include media('screen', '<phone') {

	form,
	form + a {
		margin-left: 5%;
	}

	.logo {
		display: none;
	}


}//<--------------------------------------------------------------------- @include media('screen', '<phone')



@include media('screen', '<tablet') {

	ul:first-child ~ .button {
		display: none;
	}

//	ul:first-child + .button + .button + a {
//		@include rem(top, 10px);
//	}

//	form,
//	form + a {
//		margin-left: 2.3%;
//	}


}//<--------------------------------------------------------------------- @include media('screen', '<tablet')













@include media('screen', '<tablet-wide') {


	&.menu-displayed {


		&:before {
//			background-color: rgba(255,0,0,0.3);
			background-color: rgba(255,255,255,0.8);
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			bottom: 0;
		}

	}


	&:not(.menu-displayed) {


//		&:after {
		&:before {

			position: absolute;
	
//			background-color: $background-color;
			background: linear-gradient(red, yellow);
//			@include linear-gradient(rgba(51,51,51,0.15), rgba(51,51,51,0));
//			@include linear-gradient(rgba(51,51,51,1), rgba(51,51,51,0));
	
	
			@include rem(top, 48px);
	
			@include rem(height, 4px);
//			z-index: 0;
			width: 100%;
			left: 0;
		}

	}


	ul {


		width: 70%;
		@include rem(max-width, 260px);

//		padding: 0 5%;
		@include rem(padding, 0 18px);


		&:first-child {
			@include rem(height, 206px);
			@include rem(padding-top, 8px);
		}

		&:last-child {
//			display: none;
			background-color: rgba(0,255,0,0.7);
//			background-color: $white;

			@include rem(top, 254px);
			@include rem(padding-bottom, 8px);

			li {
				br {
					display: none;
				}
			}
		}

		li {
			@include rem(line-height, 18px);
			@include rem(margin-top, 18px);
			@include rem(margin-bottom, 18px);
		}


	}

}//<--------------------------------------------------------------------- @include media('screen', '<tablet-wide')






@include media('screen', '>=tablet-wide') {

//	&:after {
	&:before {

		position: absolute;

//		background-color: $background-color;
		background: linear-gradient(red, yellow);
//		@include linear-gradient(rgba(51,51,51,0.15), rgba(51,51,51,0));
//		@include linear-gradient(rgba(51,51,51,1), rgba(51,51,51,0));


		@include rem(top, 48px);

		@include rem(height, 4px);
//		z-index: 0;
		width: 100%;
		left: 0;
	}

	ul {

		&:first-child {
			li {
				display: inline-block;
				@include rem(line-height, 12px);
				@include rem(margin-top, 20px);
				@include rem(margin-bottom, 16px);
			}
		}

		&:last-child {
			li {
				@include rem(line-height, 18px);
				@include rem(padding-top, 21px);
				@include rem(padding-bottom, 15px);	
			}
		}


	}
}//<--------------------------------------------------------------------- @include media('screen', '>=tablet-wide')






@include media('>=phone', '<desktop-wide') {

	form,
	form + a {
		margin-left: 2.3%;
	}

}//<--------------------------------------------------------------------- @include media('>=phone', '<desktop-wide')



@include media('>=tablet', '<desktop-wide') {

	ul:first-child ~ .button {
		width: 18%;
		@include rem(max-width, 144px);
		@include rem(top, 6px);
		margin-left: 2%;
	}

//	ul:first-child + .button + .button + a {
//		@include rem(top, 10px);
//	}

//	form,
//	form + a {
//		margin-left: 2.3%;
//	}




}//<--------------------------------------------------------------------- @include media('>=tablet', '<desktop-wide')




@include media('>=tablet-wide', '<desktop-wide') {
	
	ul {
//		text-align: center;
		text-align: left;

		li {
			margin-left: 2.8%;
		}

		&:first-child { 
//			display: none;
//			background-color: pink;
//			background-color: $dark-blue;

//			@include rem(top, 48px);
//			left: 0;
//			right: 0;
			width: 100%;

		}


		&:last-child {

//			display: none;
//			background-color: pink;
			background-color: $white;


			@include rem(top, 96px);

			left: 0;
			width: 100%;

			&:after {
				content: "";
				display: block;
				position: absolute;
//				background-color: $background-color;
//				background: linear-gradient(red, yellow);
				@include linear-gradient(rgba(51,51,51,0.15), rgba(51,51,51,0));
		
		
				@include rem(height, 4px);
				width: 100%;
				left: 0;
			}



			li {
				display: inline-block;
				@include rem(letter-spacing, 0.1px);
				.container-fluid {
					@include rem(top, 72px);
				}

			}


		}
	}
	
}//<--------------------------------------------------------------------- @include media('>=tablet-wide', '<desktop-wide')



@include media('screen', '<desktop-wide') {

//	background-color: pink;
//	background-color: rgba(51,51,51,0.15);
	
	background-color: $white;



	@include rem(height, 48px);

//	position: relative;
//	z-index: 1000;

//	&:before {
	&:after {
//		background-color: red;
		content: "";
		background-image: url("../img/burger.png");
		background-repeat: no-repeat;
		background-position: 6px 6px;
		@include rem(top, 6px);
		@include rem(left, 16px);
		@include rem(width, 36px);
		@include rem(height, 36px);
		cursor: pointer;
	}


//	&:after {
////		background-color: $background-color;
////		background: linear-gradient(red, yellow);
////		@include linear-gradient(rgba(51,51,51,0.15), rgba(51,51,51,0));
////		@include linear-gradient(rgba(51,51,51,1), rgba(51,51,51,0));
//
//
//		@include rem(top, 48px);
////		@include rem(height, 4px);
////		z-index: 0;
////		width: 100%;
////		left: 0;
//	}


//	ul:first-child ~ .button {
////		@include rem(width, 144px);
//		width: 18%;
//		@include rem(max-width, 144px);
////		@include rem(margin-left, 24px);
////		margin-left: 2.5%;
//		margin-left: 2%;
//	}

	&:not(.menu-displayed) {
		ul {
			display: none;
		}
	}


	ul {
//		display: none;
		position: absolute;
//		position: relative;
//		top: 300px;
		z-index: 1;


////		text-align: center;
//		text-align: left;
//
//		li {
//			margin-left: 2.8%;
//		}
//
//
//
		&:first-child { 
////			display: none;
////			background-color: pink;
			background-color: $dark-blue;
//
//
////			position: absolute;
			@include rem(top, 48px);
			left: 0;
//			right: 0;
//
////			text-align: center;
//
////			z-index: 1;
//
//
		}
//
//
//		&:last-child {
//
////			display: none;
////			background-color: pink;
//			background-color: $white;
//
////			text-align: left;
//
//
//			@include rem(top, 96px);
//
//			left: 0;
////			right: 0;
//			width: 100%;
//
//			&:after {
//				content: "";
//				display: block;
//				position: absolute;
////				background-color: $background-color;
////				background: linear-gradient(red, yellow);
//				@include linear-gradient(rgba(51,51,51,0.15), rgba(51,51,51,0));
//		
//		
////				@include rem(top, 120px);
//				@include rem(height, 4px);
////				z-index: 0;
//				width: 100%;
//				left: 0;
//			}
//
//
//
//			li {
//				display: inline-block;
//				@include rem(letter-spacing, 0.1px);
//////				background-color: red;
//////				padding: 0 2%;
//////				text-align: center;
//
////				margin-left: 2%;
//
////				&:not(:last-child) {
//////					@include rem(margin-right, 24px);
////					margin-right: 2%;
////				}
//
////				p {
////					background-color: red;
//////					width: 100%;
//////					max-width: 130px;
////					width: 130px;
////
////					margin: 0 auto;
////
//////					br {
//////						display: none;
//////					}
////
////
////				}
//
//				.container-fluid {
//					@include rem(top, 72px);
//				}
//
//
//
//			}
//
//
//		}


	}






	ul:first-child + .button + .button + a {
//		position: relative;
		margin-left: 2.3%;
//		@include rem(margin-left, 24px);
//		@include rem(top, 4px);
//		@include rem(top, 8px);
		@include rem(top, 10px);
	}

	[class*="icon-"] {
		color: $font-color;
	}



	form {

		input {
			color: $font-color;
		}
	}




	form + a {
		position: relative;
		@include rem(top, 16px);
//		@include rem(margin-left, 24px);
//		margin-left: 2.3%;
//		margin-right: 2.8%;
//		margin-right: 3.5%;
		@include rem(margin-right, 24px);
	}


	.logo {
		position: absolute;
		@include rem(top, 4px);
		@include rem(left, 70px);
		@include rem(width, 100px);
		
	}




}//<--------------------------------------------------------------------- @include media('screen', '<desktop-wide')








@include media('screen', '>=desktop-wide') {

	margin: 0 auto;

	@include rem(height, 120px);
	
//	text-align: right;
//	cursor: default;



	


//	&:before, 
//	&:after {
//		content: "";
//		display: block;
//		position: absolute;
//		left: 0;
////		width: 100%;
//
//	}

//	&:before {
	&:after {


//		position: absolute;


		background-color: $dark-blue;
		top: 0;
		z-index: -1;
		width: 100%;
		@include rem(height, 48px);
		left: 0;
	}


//	&:after {
	&:before {

		position: absolute;

//		background-color: $background-color;
//		background: linear-gradient(red, yellow);
//		@include linear-gradient(rgba(51,51,51,0.15), rgba(51,51,51,0));
//		@include linear-gradient(rgba(51,51,51,1), rgba(51,51,51,0));
		


		@include rem(top, 120px);
//		@include rem(height, 4px);
		z-index: 0;
//		width: 100%;
//		left: 0;
	}







	ul {

		float: left;
		text-align: left;
		
//		@include rem(font-size, 12px);
//
//		li {
//			text-transform: uppercase;
//		}
//
		&:first-child {
//
////			background-color: rgba(255,255,0,0.3);
			@include rem(margin-left, 38px);
			margin-right: 2%;
//
			li {
//
//				display: inline-block;
//				color: $white;
//
//				@include rem(line-height, 12px);
//				@include rem(margin-top, 20px);
//				@include rem(margin-bottom, 16px);
//
				&:not(:last-child) {
					@include rem(margin-right, 24px);
				}

//	
//				a {
//					color: $white;
//					text-decoration: none;
//	
//					&:hover {
//						color: lighten($dark-blue, 75%);
//					}
//				}
//
			}
		}
//
//
		&:last-child {
//
////			background-color: rgba(0,255,255,0.3);
//
			margin-left: 3.4%;
			display: inline-table;
			width: 80%;
//
			li {
//
				display: table-cell;
//
//				@include rem(padding-top, 21px);
//				@include rem(padding-bottom, 15px);
//				@include rem(line-height, 18px);
				@include rem(letter-spacing, 0.8px);
//
				&:not(:last-child) {
					@include rem(padding-right, 28px);
				}
//
//				p {
//					font-family: "Open-Sans-Semibold", sans-serif;
//					cursor: pointer;
//					
////					br { display: none; }					
//				}
//
//
//				&.selected {
//					p {
//						color: $blue;
//						&:hover {
//							color: darken($blue, 15%);
//						}
//					}
//				}
//
//				&:not(.selected) {
//					p {
//						&:hover {
//							color: darken($blue, 15%);
//						}
//					}
//					.container-fluid {
//						display: none;
//					}
//				}
//
//
//
				.container-fluid {
////					background-color: rgba(255,255,0,0.5);
//					background-color: #f7f7f7;
//
//					position: absolute;
//					
//					left: 0;
//					right: 0;
//
					@include rem(top, 120px);
//
//					z-index: 1;
//
//
//					&:before, 
//					&:after {
//						content: "";
//						position: absolute;
//						left: 0;
//						right: 0
//					}
//					
//					&:before {
//						background-color: #0498cd;
//						@include rem(height, 1px);
//					}
//
//					&:after {
//
//						@include rem(height, 4px);
//
////						@include linear-gradient(red, yellow);
//						@include linear-gradient(rgba(239,239,239,1), rgba(239,239,239,0));
//					}
//
//
//					.container {
//
//						.row {
//
//							@include rem(min-height, 97px);
//
//							&.v-divide {
//								[class*="col"] {
//									&:not(:last-child) {
//										&:after {
////											background-color: red;
//											background-color: #e4e4e5;
//
//											content: "";
//											display: block;
//											position: absolute;
//											right: 0;
//											@include rem(top, 16px);
//											@include rem(bottom, 16px);
//											@include rem(width, 1px);
//										}
//									}
//
//								}
//
//							}
//
//							[class*="col"] {
//								
//								@include rem(font-size, 14px);
//								@include rem(letter-spacing, 0.1px);
//										
//								.row {
//									[class*="col"] {
//										&:after {
//											display: none;
//										}
//									}
//								}
//
//								h5 {
//									font-weight: bold;
////									color: rgba(255,0,255,0.9);
//									color: #abb8bc;
//
//									@include rem(margin-top, 35px);
//
//									a {
//										color: $blue;
//										text-decoration: none;
//										&:hover {
//											color: darken($blue, 15%);
//										}
//									}
//								}
//
//								p {
//									font-family: "Open-Sans-Light", sans-serif;
//									color: $font-color;
//									text-transform: none;
//
//									@include rem(line-height, 30px);
//
//									&:first-child {
//										@include rem(margin-top, 16px);
//									}
//
//									&:last-child {
//										@include rem(margin-bottom, 16px);
//									}
//
//									b, strong {
//										font-family: "Open-Sans-Semibold", sans-serif;
//									}
//
//									a {
//										color: $font-color;
//										text-decoration: none;
//
//										&:hover {
//											color: lighten($font-color, 15%);
//										}
//									}
//
//								}
//
//								.button {
//									width: 100%;
//									@include rem(max-width, 200px);
//								}
//
//
//							}
//						}
//					}
//
				}
//
//
			}
		}
//
//
//
//
	}










	ul:first-child ~ .button {

		width: 11.1%;

//		@include rem(padding, 10px 0);
//		@include rem(margin-top, 8px);
		@include rem(top, 8px);

		margin-left: 1.9%;
		float: left;

	}


//	ul:first-child ~ a:not(.button) {
//		text-decoration: none;
//	}



	ul:first-child + .button + .button + a {

		float: left;
//		color: $blue;
//
//		font-weight: bold;
//		font-style: italic;
//		text-transform: uppercase;
//
//		@include rem(font-size, 14px);
//		@include rem(margin-top, 19px);
		@include rem(top, 19px);
//
		margin-left: 4.2%;
//
//		&:hover {
//			color: lighten($blue, 10%);
//		}
	}



	[class*="icon-"] {
		color: $white;
		@include rem(font-size, 18px);
	}














	form {
//
//		display: inline-block;
//		position: relative;
//
//		@include rem(margin-top, 16px);
//		@include rem(width, 18px);
//		@include rem(height, 22px);
//
//
		&:after {
//
			color: $white;
//			@include rem(font-size, 18px);
//
//			content: "\f102";
//			display: block;
//			position: absolute;
//
//			@include rem(width, 18px);
//			@include rem(height, 22px);
//
//			font-family: icons;
//			font-style: normal;
//			font-weight: normal;
//			vertical-align: top;
//			line-height: 1;
//
//			@include transition(all 0.2s ease-in-out);
//
		}
//
//		&:hover {
//			cursor: pointer;
//			&:after {
//				opacity: 0.75;
//			}
//		}
//		
//
//
		input {
//
//			position: absolute;
//			right: 0;
//
//			@include rem(width, 240px);
//			@include rem(height, 22px);
//
//			@include rem(padding-left, 8px);
//			@include rem(padding-right, 24px);
//
//			border: 0;
//
//			border-bottom: 1px solid $white;
//			outline: 0;
//
//			background-color: $dark-blue;
//
//
//			@include rem(font-size, 14px);
			color: $white;
//
//			-webkit-appearance: none;
//
		}
//
//		button {
//
//			position: absolute;
//			right: 0;
//
//			@include rem(width, 18px);
//			@include rem(height, 22px);
//
//
//			background-color: transparent;
//
//
//			border: 0;
//			padding: 0;
//
//			cursor: pointer;
//
//			@include transition(all 0.2s ease-in-out);
//
//			&:hover {
//				opacity: 0.75;
//			}
//
//		}
//
//		&.displayed {
//			&:after {
//				display: none;
//			}
//		}
//		&:not(.displayed) {
//			& input,
//			& button {
//				display: none;
//			}
//		}
//
//
	}
















	form + a {

		float: right;
		margin-left: 2.3%;

		@include rem(margin-right, 38px);
		@include rem(margin-top, 16px);
		@include rem(height, 22px);

//		.icon-cart {
////			background: rgba(255,255,0,0.4);
//			@include transition(all 0.2s ease-in-out);
//		}
//
//		&:hover {
//			.icon-cart {
//				opacity: 0.75;
//			}
//		}

	}



	.logo {
		clear: both;
		float: left;
		display: inline-block;

		@include rem(margin-left, 40px);
		@include rem(margin-top, 8px);

//		width: 11.2%;
		@include rem(width, 145px);

	}

}//<--------------------------------------------------------------------- @include media('screen', '>=desktop-wide')






}




