/**************************** Icon Font *****************************/
@font-face {
    font-family: "icons";
    src: url("../fonts/icons/icons.eot?03a48d75550e183d03470d9a62da04c5?#iefix") format("embedded-opentype"),
url("../fonts/icons/icons.woff2?03a48d75550e183d03470d9a62da04c5") format("woff2"),
url("../fonts/icons/icons.woff?03a48d75550e183d03470d9a62da04c5") format("woff"),
url("../fonts/icons/icons.ttf?03a48d75550e183d03470d9a62da04c5") format("truetype"),
url("../fonts/icons/icons.svg?03a48d75550e183d03470d9a62da04c5#icons") format("svg");
}

[class*="icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
    line-height: 1;
}

.icon-calendar:before {
    content: "\f101";
}
.icon-cart:before {
    content: "\f102";
}
.icon-chevron-down:before {
    content: "\f103";
}
.icon-next:before {
    content: "\f104";
}
.icon-prev:before {
    content: "\f105";
}
.icon-search:before {
    content: "\f106";
}
