/**************************** Icon Font *****************************/
@font-face {
    font-family: "icons";
    src: url("../fonts/icons/icons.eot?e466ca91482515162fc4a1c674e6fb99?#iefix") format("embedded-opentype"),
url("../fonts/icons/icons.woff2?e466ca91482515162fc4a1c674e6fb99") format("woff2"),
url("../fonts/icons/icons.woff?e466ca91482515162fc4a1c674e6fb99") format("woff"),
url("../fonts/icons/icons.ttf?e466ca91482515162fc4a1c674e6fb99") format("truetype"),
url("../fonts/icons/icons.svg?e466ca91482515162fc4a1c674e6fb99#icons") format("svg");
}

[class*="icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
    line-height: 1;
}

.icon-calendar:before {
    content: "\f101";
}
.icon-cart:before {
    content: "\f102";
}
.icon-chevron-down:before {
    content: "\f103";
}
.icon-search:before {
    content: "\f104";
}
