/**************************** Icon Font *****************************/
@font-face {
    font-family: "icons";
    src: url("../fonts/icons/icons.eot?17bf2a6e1f2570c52062101457d4b0df?#iefix") format("embedded-opentype"),
url("../fonts/icons/icons.woff2?17bf2a6e1f2570c52062101457d4b0df") format("woff2"),
url("../fonts/icons/icons.woff?17bf2a6e1f2570c52062101457d4b0df") format("woff"),
url("../fonts/icons/icons.ttf?17bf2a6e1f2570c52062101457d4b0df") format("truetype"),
url("../fonts/icons/icons.svg?17bf2a6e1f2570c52062101457d4b0df#icons") format("svg");
}

[class*="icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
    line-height: 1;
}

.icon-calendar:before {
    content: "\f101";
}
.icon-cart:before {
    content: "\f102";
}
.icon-chevron-down:before {
    content: "\f103";
}
.icon-facebook:before {
    content: "\f104";
}
.icon-instagram:before {
    content: "\f105";
}
.icon-next:before {
    content: "\f106";
}
.icon-prev:before {
    content: "\f107";
}
.icon-search:before {
    content: "\f108";
}
.icon-twitter:before {
    content: "\f109";
}
