/*************************** Book Accommodation Form Component Styles ****************************/

form {

	&.book-accommodation {

		cursor: default;


		color: $white;


		label {

			display: block;

		}

		.input-wrapper,
		.select-wrapper {


			position: relative;

			border: 1px solid rgba(255,255,255,0.3);

			@include border-radius(3px);




			&:hover {
				&:before,
				&:after {
					color: lighten($blue, 45%);
				}
			}

			&:before,
			&:after {
				position: absolute;
				font-family: "icons";
				top: 0;
				bottom: 0;	

			}

			&:after {
				right: 0;
				content: "\f103";

				
			}

		}


		.input-wrapper {


			&:before {
				
				content: "\f101";
			}


			input {
	
				&[type="text"] {

					position: relative;

					z-index: 1;

					cursor: pointer;

					color: $white;

					width: 100%;

					&::-webkit-input-placeholder {
						color: $white;
						font-style: italic;
					}
					&:-moz-placeholder {
						color: $white;
						opacity: 1;
						font-style: italic;
					}
					&::-moz-placeholder {
						color: $white;
						opacity: 1;
						font-style: italic;
					}
					&:-ms-input-placeholder {
						color: $white;
						font-style: italic;
					}
					&::-ms-input-placeholder {
						color: $white;
						font-style: italic;
					}
					
					&::placeholder {
						color: $white;
						font-style: italic;
					}


				}
	
			}

		}

		.select-wrapper {

			select {

				position: relative;

				z-index: 1;

				color: $white;
				width: 100%;

				cursor: pointer;


				option {
					color: $font-color;
				}

				

			}


		}

		input[type="submit"] {

			display: block;			

			cursor: pointer;

			text-transform: uppercase;
			text-decoration: none;
			text-align: center;
			

			font-family: "Open-Sans-Semibold", sans-serif;

			border: 0;

			width: 100%;

			@include border-radius(3px);
			@include transition(all 0.25s ease-in-out);

		}


	}

}