/*************************** Figure Component Styles ****************************/

figure {
	
	position: relative;

	&:after {
		content: "";
		position: absolute;
		top: 30%;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
		@include linear-gradient(rgba(35,35,35,0), rgba(35,35,35,0.75));
	}

	img {
		width: 100%;
		vertical-align: top;
	}

	figcaption {
		position: absolute;
		left: 2%;
		right: 2%;
		bottom: 10%;
		color: $white;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;	
		@include rem(font-size, 21px);
		z-index: 1;
	}

}