/*************************** Nav Component Styles ****************************/

@mixin nav-main ($media-min, $media-max, $font-size-min, $font-size-max) {

	$d: ($font-size-max - $font-size-min) / 1px;

	@for $i from 0 through $d {

		$step: ($media-max - $media-min) / ($d + 1);
		$min: $i * $step + $media-min;
		$max: $min + $step;

		@include media('>=' + round($min), '<' + round($max)) {

			$font-size: $i + $font-size-min;
			@include rem(font-size, $font-size);

//			$line-height: 20px - ($d - $i) * 2;
//			@include rem(line-height, $line-height);

			

//			$margin: 14px - ($d - $i) * 2;
////			@include rem(margin, $margin auto);
//			@include rem(margin, 16px auto $margin);

			a,
			span {
//				$line-height: 20px - ($d - $i) * 2;
//				@include rem(line-height, $line-height);
				
				$line-height: 21px - ($d - $i);
				@include rem(line-height, $line-height);

			}

			a {

				$margin-right: 29px - ($d - $i) * 3;
				@include rem(margin-right, $margin-right);

				&:after {

					$right: ($d - $i) * 3 - 24px;
					@include rem(right, $right);

				}
			}

		}
	}
}




@mixin nav-h1 ($media-min, $media-max, $font-size-min, $font-size-max) {

	$d: ($font-size-max - $font-size-min) / 1px;

	@for $i from 0 through $d {

		$step: ($media-max - $media-min) / ($d + 1);
		$min: $i * $step + $media-min;
		$max: $min + $step;

		@include media('>=' + round($min), '<' + round($max)) {

			$font-size: $i + $font-size-min;
			@include rem(font-size, $font-size);

			$padding-bottom: 45px - ($d - $i);
			@include rem(padding-bottom, $padding-bottom);

		}
	}
}










nav {

//	background-color: rgba(255,0,0,0.2);

	text-transform: uppercase;
	color: #9e9c9c;
	cursor: default;

	@include rem(max-width, 1300px);

	@include rem(margin, 16px auto);


//	margin: 0 auto;
//	a,
//	span {
//		background-color: rgba(0,0,255,0.2);
//
//		display: inline-block;
//
//		@include rem(margin, 16px 0);
//	}






	@include media('screen', '<desktop-wide') {
		@include rem(padding, 0 16px);
	}
	
	@include media('screen', '>=desktop-wide') {
		@include rem(padding, 0 40px);
	}






	@include media('screen', '<320px') {
		@include rem(font-size, 10px);
//		@include rem(line-height, 16px);

//		@include rem(margin, 10px auto);
//		@include rem(margin, 16px auto 9px);

		a,
		span {
			@include rem(line-height, 18px);
		}


		a {
			@include rem(margin-right, 20px);

			&:after {
				@include rem(right, -17px);
			}
		}
	}

	@include nav-main (320px, 640px, 11px, 13px);

	@include media('screen', '>=640px') {
		@include rem(font-size, 13px);
//		@include rem(line-height, 22px);
//		@include rem(margin, 16px auto);

		a,
		span {
			@include rem(line-height, 22px);
		}

		a {

			@include rem(margin-right, 32px);

			&:after {
				@include rem(right, -27px);
			}
		}
	}







	a {

		color: $font-color;
		text-decoration: none;
		position: relative;

//		@include rem(margin-right, 32px);
//		@include rem(margin-right, 30px);


		&:after {
			content: ">>";
			position: absolute;
			pointer-events: none;

//			@include rem(right, -27px);
//			@include rem(right, -20px);
			
		}

		&:hover {
			color: lighten($font-color, 25%);
		}

	}





	h1 {
//		background-color: rgba(0,0,255,0.1);

		color: #eaeaea;
//		color: rgba(255,0,0,0.6);

		font-family: "Open-Sans-Semibold", sans-serif;

//		line-height: auto;



//		@include rem(font-size, 60px);
////		@include rem(line-height, 60px);
//		@include rem(padding-bottom, 46px);


//		@include rem(font-size, 24px);
////		@include rem(line-height, 24px);
//		@include rem(padding-bottom, 46px);

		@include media('screen', '<320px') {
			@include rem(font-size, 23px);
			@include rem(padding-bottom, 9px);
		}

		@include nav-h1 (320px, 768px, 24px, 59px);

		@include media('screen', '>=768px') {
			@include rem(font-size, 60px);
			@include rem(padding-bottom, 46px);
		}




	}
	
}