// Variables


//$baseFontSize: 10; // Based on HTML reset html { font-size: 62.5%; }
$baseFontSize: 16;


$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1300px
);



$background-color: #fff;
//$background-color: rgba(0,0,255,0.2);



$font-color: #1d2124;
//$font-color: red;



$white: #fff;
//$white: rgba(0,0,255,0.8);


$blue: #11a0d3;
//$blue: rgba(0,255,0,0.5);


$dark-blue: #00303c;
//$dark-blue: rgba(255,0,255,0.6);





$header-row-lg-min-height: 97px;